.tag {
    margin: 5px;
    border: 1px solid;
    -webkit-border-radius:7px;
    display: block;
    float: left;
    text-decoration:none;
    color:#fff;background-color:#5bc0de;border-color:#46b8da;
    font-family: helvetica;
}
.tag a { font-weight: bold; color: #d9534f; text-decoration:none;}

.body404 {
    height: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    padding-top: 5%;
}